
/* css */
*{
 font-family: "Helvetica";
}

h1{
  text-align: center;
  font-weight: 900;
  color: darkorange;
}

h2{
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  margin-top: 10px;
  color: darkred;
}

div.button{
  font-weight: bold;
  color: #01BEF3;
  text-align: center;
}


div.row-1-box{
  font-size: 6px;
  color: white;
  background: black;
}

div.row-2-box{
  font-size: 20px;
  color:#08BDF3;
  background: black;
  font-weight: bold;
  padding-top: 30px;
  line-height: 20px;
}

#swissted-link{
  text-decoration: none;
  color: #08BDF3;
}


div.row-3-blue{
  background-color: #01BEF3;
  height: 80px;
}

div.row-3-pink{
  background: #DFE3D9;
}

div.row-4-blue{
  background: #01BEF3;
}

div.row-4-black{
  background: black;
  height: 150px;
}

div.row-4-pink{
  background: #DFE3D9;
}

div.row-5-blue{
  background: #01BEF3;
  height: 80px;
}

div.row-5-pink{
  background: #DFE3D9;
}


@media (min-width: 576px) {
div.row-1-box{font-size: 7px;}
div.row-2-box{font-size: 30px;
  padding-top: 35px;
  line-height: 25px;}
div.row-4-black{height: 200px;}
div.row-3-blue{height: 80px;}
div.row-5-blue{height: 80px;}

}

@media (min-width: 768px) {
  h1 {color:darkorange;}
  div.row-1-box{font-size: 9px;}
  div.row-2-box{font-size: 40px;
    padding-top: 43px;
    line-height: 35px;}
  div.row-4-black{height: 250px;}
  div.row-3-blue{height: 100px;}
  div.row-5-blue{height: 100px;}

}

@media (min-width: 992px) {
  h1 {color:darkorange;}
  div.row-1-box{font-size: 11px;}
  div.row-2-box{font-size: 50px;
    padding-top: 50px;
    line-height: 45px;}
  div.row-4-black{height: 300px;}
  div.row-3-blue{height: 130px;}
  div.row-5-blue{height: 130px;}

}
@media (min-width: 1200px) {
  h1 {color:darkorange;}
  div.row-1-box{font-size: 13px;}
  div.row-2-box{font-size: 60px;
    padding-top: 55px;
    line-height: 55px;}
  div.row-4-black{height: 350px;}
  div.row-3-blue{height: 150px;}
  div.row-5-blue{height: 150px;}

}

@media (min-width: 1400px) {
  div.row-1-box{font-size: 15px;}
  div.row-2-box{font-size: 68px;
    padding-top: 60px;
    line-height: 60px;}
  div.row-4-black{height: 376px;}
  div.row-3-blue{height: 200px;}
  div.row-5-blue{height: 200px;}
}
