
/* css */
*{
 font-family: "Helvetica";
}
h1{
  text-align: center;
  font-weight: 900;
  color: darkorange;
}

div.row-1-box{
  font-size: 15px;
  color: white;
  background: black;
}

div.row-2-box{
  font-size: 68px;
  color:#08BDF3;
  background: black;
  line-height: 100%;
  height:219px;
  font-weight: bold;
}

div.row-3-blue{
  background-color: #01BEF3;
  height: 189px;
}

div.row-3-pink{
  background: #DFE3D9;
  height: 189px;
}

div.row-4-blue{
  background: #01BEF3;
  height: 376px;
}

div.row-4-black{
  background: black;
  height: 376px;
}

div.row-4-pink{
  background: #DFE3D9;
  height: 376px;
}

div.row-5-blue{
  background: #01BEF3;
  height: 189px;
}

div.row-5-pink{
  background: #DFE3D9;
  height: 189px;
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
div.row-1-box{font-size: 1px;}
 }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
h1 {color:black;}
 }
